@{
    ViewData["Title"] = "shop";
}

@model List<Product_Category> ;
@{
    string catName = ViewData["catName"].ToString();
}

    <!-- =====================================[BreadCrumb Section]======================================================= -->

    <div class="BreadcrumbStart">
        <div class="BreadcrumbS_Wrap">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="bradcaump__inner text-center">
                            <h2 class="bradcaump-title">Shop</h2>
                            <nav class="bradcaump-inner">
                                <a class="breadcrumb-item" href="index.html">Home</a>
                                <span class="brd-separetor">/</span>
                                <span class="breadcrumb-item active">Contact</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- ==========================================[Product]================================================== -->



    <div class="wrappper">
        <div class="category-filter container">
            <div class="">
                <div class="title">
                    <h1>Featured Products</h1>
                </div>

                <div class="filter-btns">
                @if (@catName == "all")
                {
                    <button type="button" class="filter-btn active" data-filter="all" id="all">all</button>
                }else
                {
                    <button type="button" class="filter-btn" data-filter="all" id="all">all</button>
                }
                
                @foreach (var cat in ViewBag.cats)
                {
                    @if (@catName == @cat.Name.Trim())
                    {
                        <button type="button" class="filter-btn active" data-filter="@cat.Name.Trim()" id="@cat.Name.Trim()"> @cat.Name.Trim() </button>
                    }else
                    {
                        <button type="button" class="filter-btn" data-filter="@cat.Name.Trim()" id="@cat.Name.Trim()"> @cat.Name.Trim() </button>
                    }

                }
                </div>

                <div class="row">
                @foreach(var prodCt in Model)
                {
                    <div class="col-sm-12 col-md-4">
                        <div class="filter-items">
                            <div class="filter-item all @prodCt.C.Name.Trim()">
                                <div class="shopCentre">
                                    <div class="product-item hover-effect-slide">
                                        <div class="image-holder position-relative">
                                            <img src="@prodCt.P.ImgUrl" alt="categories"
                                                 class="product-image img-fluid">
                                            <a asp-controller="Product" asp-action="Details" asp-route-id="@prodCt.P.Id" class="btn-icon btn-eye-con">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                            <a href="#" class="btn btn-dark w-100 mt-2 rounded-3">Add to cart</a>
                                        </div>
                                        <div class="product-content position-relative">
                                            <h5 class="product-name text-uppercase fs-5 mt-3">
                                                <a href="single-product.html">@prodCt.P.Name</a>
                                            </h5>
                                            <div class="product-price">
                                                <span class="new-price">$@prodCt.P.Price</span>
                                                <span class="old-price">$@((@prodCt.P.Price) * (1.75))</span>
                                            </div>
                                            <div class="product-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
@*                 <div class="col-sm-12 col-md-4">
                        <div class="filter-items">
                            <div class="filter-item all new">
                                <div class="shopCentre">
                                    <div class="product-item hover-effect-slide">
                                        <div class="image-holder position-relative">
                                            <img src="images/product/WomenCat.jpg" alt="categories"
                                                 class="product-image img-fluid">
                                            <a href="#" class="btn-icon btn-eye-con">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                            <a href="#" class="btn btn-dark w-100 mt-2 rounded-3">Add to cart</a>
                                        </div>
                                        <div class="product-content position-relative">
                                            <h5 class="product-name text-uppercase fs-5 mt-3">
                                                <a href="single-product.html">skirt</a>
                                            </h5>
                                            <div class="product-price">
                                                <span class="new-price">$19</span>
                                                <span class="old-price">$25</span>
                                            </div>
                                            <div class="product-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                   </div>


                    <div class="col-sm-12 col-md-4">
                        <div class="filter-items">
                            <div class="filter-item all best-sellers">
                                <div class="shopCentre">
                                    <div class="product-item hover-effect-slide">
                                        <div class="image-holder position-relative">
                                            <img src="images/product/MenCat.jpg" alt="categories"
                                                 class="product-image img-fluid">
                                            <a href="#" class="btn-icon btn-eye-con">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                            <a href="#" class="btn btn-dark w-100 mt-2 rounded-3">Add to cart</a>
                                        </div>
                                        <div class="product-content position-relative">
                                            <h5 class="product-name text-uppercase fs-5 mt-3">
                                                <a href="single-product.html">skirt</a>
                                            </h5>
                                            <div class="product-price">
                                                <span class="new-price">$19</span>
                                                <span class="old-price">$25</span>
                                            </div>
                                            <div class="product-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="filter-items">
                            <div class="filter-item all specials">
                                <div class="shopCentre">
                                    <div class="product-item hover-effect-slide">
                                        <div class="image-holder position-relative">
                                            <img src="images/product/kidCat.jpg" alt="categories"
                                                 class="product-image img-fluid">
                                            <a href="#" class="btn-icon btn-eye-con">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                            <a href="#" class="btn btn-dark w-100 mt-2 rounded-3">Add to cart</a>
                                        </div>
                                        <div class="product-content position-relative">
                                            <h5 class="product-name text-uppercase fs-5 mt-3">
                                                <a href="single-product.html">skirt</a>
                                            </h5>
                                            <div class="product-price">
                                                <span class="new-price">$19</span>
                                                <span class="old-price">$25</span>
                                            </div>
                                            <div class="product-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div> *@
                </div>
            </div>
        </div>
    </div>



    


