@model IEnumerable<Dokaanah.Models.Product>


@{
    ViewData["Title"] = "Index";
    var s = (Product)ViewBag.p1;
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(s => s.Name)
            </th>
            <th>
                @Html.DisplayNameFor(s => s.Price)
            </th>
            <th>
                @Html.DisplayNameFor(s => s.Description)
            </th>
            <th>
                @Html.DisplayNameFor(s => s.ImgUrl)
            </th>
            <th>
                @Html.DisplayNameFor(s => s.Quantity)
            </th>
            
           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImgUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
               
               
            </tr>
        }
    </tbody>
</table>
